{% extends "base.html" %}
{% block title %}Products - A2Z Airbrakes{% endblock %}
{% block content %}
  <div class="banner" style="background-image: url(../static/images/banner.jpg)">
    Our Products & Services
  </div>
  <div class="container">
    <h1>Brake & Trailer Parts</h1>
    <ul>
      <li>Air Brake Systems</li>
      <li>Slack Adjusters</li>
      <li>Brake Chambers</li>
      <li>Suspension & Axle Components</li>
      <li>Trailer Lighting & Wiring Kits</li>
    </ul>
  </div>
{% endblock %}